 
{%extends "base.html"%}
{%block content%}

<br><br>
<form action="." method="POST">{% csrf_token %}
        <table>
        {{form}}
        {%if errors%}
        <ul>
        	{% for er in errors%}
        		<li>{{er}}</li>
        	{%endfor%}      	
        </ul>
        {% endif %}
        <tr>
        	<td colspan="2">
        		<br><input type="submit" value="Фильтровать"><br>
        	</td>
        </tr><br><br>
        </table>

      
<br>
<div id ="SimpleDiv">
    <table width="100%" border="1" cellspacing="0" cellpadding="4" align = "left" >

        
       
           <tr align="center" >
            <td width="5%">
            Дата </td>
    
            <td width = "5%">
              Категория
            </td>
            <td width = "25%">

           Причина
            </td>
            <td width="5%">
            Сумма
            </td>
        </tr>  
	 {% for o in tables%}
          <td width="5%">
            {{o.date}} </td>
    
            <td width = "5%">
                {{o.FK_Category.Title}}
            </td>
            <td width = "25%">

            {{o.Reason}}
            </td>
            <td width="5%">
            {%if  o.Amount_of_payment > 0 %}
            <font color="#008000"> {{o.Amount_of_payment|floatformat:2}}</font>
            {%else%}
           <a> {{o.Amount_of_payment|floatformat:2}}</a> 
            {%endif%}
                       </td>
        </tr>
        {% endfor %}

    </table>
</div>

</form>

{%endblock%}

