
<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
<head>
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div id="header-wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">I+Money</a></h1>
		</div>
               <div id = "number"><a href="#" accesskey="2" title="">exit</a> </div>
		<div id="menu">
			
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">UserName</a></li>
			</ul>
		</div>
	</div>
</div>
</body>
<body2>
<div id="footer-wrapper">
	
	<div id="footer-content">

		<div id="fbox1">
			
			<ul class="style2">
				<li class="first"><a href="#">Внести трату или доход</a></li>
				<li><a href="#">Планирование бюджета</a></li>
				<li><a href="#">Накопления, очереди покупок</a></li>
				<li><a href="#">Отчёты, история</a></li>
				<li><a href="#">Оплата сервиса</a></li>
			</ul>
		
			<p class="button-style"><a href="#">help</a></p>
		</div>
		<div id="fbox2">
			<div id="copyright">Copyright fcs 2012. All rights reserved </div>
			<div id="img">
			</div>
		</div
	</div>
</div>
</body2>
</html>
