{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
  Пожалуйста введите ваше имя и пароль..<br><br>
    
        
        
     <form action="." method="POST">{% csrf_token %}
        <table>
        {{form}}
        {%if errors%}
        <ul>
        	{% for er in errors%}
        		<li>{{er}}</li>
        	{%endfor%}      	
        </ul>
        {% endif %}
        <tr>
        	<td colspan="2">
        		<br><input type="submit" value="Войти"><br>
        	</td>
        </tr>
        </table>
    </form>
    
    <br> <a href = /registr/>Зарегистрироваться</a>

{% endblock %}

